<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacman</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="grid"></div>
        </div>
    
        <div id="chat">
            <div id="score">Pacman Score: <span>0</span>/20</div>
            <div id="chatbox"></div>
            <textarea name="" id="texbox" cols="28" rows="2" placeholder="Chat"></textarea>
            <button id="send">SEND</button>
        </div>
    
        <div id="gameover"></div>

        <div id="results">
            asdasd
        </div>
    </div>

    
</body>
</html>